In [1]:
import yfinance as yf

In [2]:
ticker_symbol = "SPY"

In [3]:
ticker_data = yf.Ticker(ticker_symbol)

In [4]:
tickerdf = ticker_data.history(period="1d",
                               start="2015-1-1",
                               end="2020-1-1"
                              )

In [5]:
tickerdf = tickerdf[["Close"]]

In [6]:
tickerdf.head()

                 Close
Date
2015-01-02  180.976257
2015-01-05  177.707855
2015-01-06  176.034073
2015-01-07  178.227631
2015-01-08  181.390289