In [1]:
import pandas as pd
import random
from datetime import datetime, timedelta

In [2]:
start_date = datetime.today() - timedelta(days = 100)
end_date = datetime.today()

In [3]:
def get_logged_in_dates(gaps):
    
    '''
    For now gaps are uniformly distributed
    '''
    id_ = ''.join(random.choice('0123456789ABCDEF') for i in range(7))
    df = pd.DataFrame()
    df["date"] = [datetime.today() - timedelta(days = n) for n in range(100, 0, -gaps)]
    df["id"] = id_
    return df

In [11]:
get_logged_in_dates(1)

                         date       id
0  2021-09-19 17:46:25.996812  B720CAE
1  2021-09-20 17:46:25.996830  B720CAE
2  2021-09-21 17:46:25.996833  B720CAE
3  2021-09-22 17:46:25.996835  B720CAE
4  2021-09-23 17:46:25.996837  B720CAE
..                        ...      ...
95 2021-12-23 17:46:25.997064  B720CAE
96 2021-12-24 17:46:25.997066  B720CAE
97 2021-12-25 17:46:25.997067  B720CAE
98 2021-12-26 17:46:25.997069  B720CAE
99 2021-12-27 17:46:25.997071  B720CAE

[100 rows x 2 columns]

In [9]:
df = pd.concat([get_logged_in_dates(gap) for gap in [9, 5, 1, 6, 20, 12]])
df["date"].apply(lambda x: x.strftime("%Y-%m-%d"))

0    2021-09-19
1    2021-09-28
2    2021-10-07
3    2021-10-16
4    2021-10-25
        ...
4    2021-11-06
5    2021-11-18
6    2021-11-30
7    2021-12-12
8    2021-12-24
Name: date, Length: 163, dtype: object

In [10]:
df.to_csv("fb-login-data.csv", index=None)